{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}{{ 'setono_sylius_recommendations.ui.recommendations'|trans }}{% endblock %}

{% form_theme form '@SyliusAdmin/Form/theme.html.twig' %}

{% block content %}
    <h1 class="ui header">
        <i class="circular cube icon"></i>
        <div class="content">
            <span>{{ 'setono_sylius_recommendations.ui.recommendations'|trans }}</span>
            <div class="sub header">{{ 'setono_sylius_recommendations.ui.recommendations_subheader'|trans }}</div>
        </div>
    </h1>

    <div class="sixteen wide mobile ten wide computer column">
        {{ form_start(form) }}
        {{ form_row(form.productVariant, {
            'remote_url': path('sylius_admin_ajax_all_product_variants_by_phrase'),
            'load_edit_url': path('setono_sylius_recommendations_admin_ajax_product_variant_by_code')
        }) }}
        <div class="ui hidden divider"></div>
        <button class="ui labeled icon primary button" type="submit"><i class="search icon"></i> {{ 'setono_sylius_recommendations.ui.evaluate'|trans }}</button>
        {{ form_end(form) }}

        {% if recommendations|length > 0 %}
            <div class="ui segment spaceless sylius-grid-table-wrapper">
                <table class="ui sortable stackable very basic celled table" {{ sylius_test_html_attribute('grid-table') }}>
                    <thead>
                    <tr>
                        <th>{{ 'sylius.ui.image'|trans }}</th>
                        <th>{{ 'sylius.ui.product'|trans }}</th>
                        <th class="right aligned">{{ 'setono_sylius_recommendations.ui.similarity'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for recommendation in recommendations %}
                        <tr class="item">
                            <td>{% include '@SyliusAdmin/Product/_mainImage.html.twig' with { 'product': recommendation.productVariant.product } %}</td>
                            <td>
                                {{ recommendation.productVariant.product.name }} ({{ recommendation.productVariant.product.code }})<br>
                                {{ recommendation.productVariant.name }} ({{ recommendation.productVariant.code }})
                            </td>
                            <td class="right aligned">{{ recommendation.similarity }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
